<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/assets/imgs/#{avatar}" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">#{name}</a>.</h2>
  <div id="bio">
    <p>💻I'm a compiler engineer at LAMP/EPFL, working on Scala 3.</p>
    <p>📕Check out <a href="https://www.amazon.com/Mastering-Functional-Programming-techniques-programming/dp/1788620798/">"Mastering Functional Programming"</a>, my latest book on purely functional programming in Scala with 😸<a href="https://typelevel.org/cats/">Cats</a> and the <a href="https://typelevel.org/">Typelevel</a> family of libraries.</p>
  </div>
  <div id="social">
    Where to find me:
    <div id="stalker">
      <a title="#{github} on Github" href="https://github.com/#{github}">
        <i class="fa fa-github-square"></i>
      </a>

      <a title="#{name} on LinkedIn" href="https://www.linkedin.com/in/#{linkedin}">
        <i class="fa fa-linkedin-square"></i>
      </a>
    </div>
  </div>
</nav>
