---
template: default
filters: [populate,post-template]
fragments:
  spread: spread
  comments: comments
---
<p class="meta">
  #{date}
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<h1 class="title">#{title}</h1>

<div id="post">
  #{body}
</div>

#{if example}
<hr/>
<div id="example-prompt">
This article's code snippets come from a runnable  example! To run it, execute the following commands:

```bash
git clone https://github.com/anatoliykmetyuk/anatoliykmetyuk.github.io.git akmetiuk
cd akmetiuk
git checkout thera
cd src/code/#{example}
sbt run
```
</div>
#{end if}

#{spread}
#{comments}
