<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/assets/imgs/$avatar$" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">$name$</a>.</h2>
  <div id="bio">
    <p>A Scala consultant. I am interested in Category Theory, Type-level programming and Deep Learning. I occasionally write here about what I do.</p>
    <p>If you are interested in my services, you can contact me via the following e-mail: anatoliykmetyuk at gmail dot com.</p>
  </div>
  <div id="social">
    $partial("fragments/social.html")$
  </div>
</nav>
