<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/{{ site.data.theme.logo }}" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Scala & Machine Learning consultant. Interested in Category Theory programming with ScalaZ & Cats, type-level programming with Shapeless, scala macros and Scala compiler internals. Worked on an extension for Scala, <a href="https://github.com/scala-subscript/subscript">SubScript</a>. Have got experience with Deep Learning algorithms, including convolutional neural networks, RNNs and natural language processing.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
